@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Oswald', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;

  }
}

body {
  color: rgb(255, 255, 255);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

h1,
h2,
h3 {
  font-family: var(--font-geist-sans);
  font-weight: 700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
